.btn {
  display: inline-flex;
  align-items: center;
  @include bold;
  border-radius: 5px;
  padding: size(27, 18) size(40, 30);
  line-height: 1em;
  transition: color 0.3s ease, background-color 0.3s ease;
  .arrow {
    display: inline-block;
    margin-left: 30px;
    svg {
      display: block;
      max-width: 100%;
      path {
        transition: stroke 0.3s ease;
      }
    }
  }
  &--white {
    background-color: #fff;
    color: var(--black);
    &:hover {
      background-color: var(--black);
      color: white;
      svg path {
        stroke: white;
      }
    }
  }
  &--black {
    background-color: var(--black);
    color: #fff;
    &:hover {
      background-color: #f4f4f4;
      color: var(--black);
    }
  }
  &--oultine {
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }
}
