.form {
  margin: 0 auto;
  margin-top: 60px;
  background-color: #fff;
  width: 800px;
  color: var(--black);
  position: relative;
  padding: 30px 64px;
  &.loading {
    .form__btn-text {
      opacity: 0;
      visibility: hidden;
    }
    .form__btn-loader {
      opacity: 1;
      visibility: visible;
    }
  }
  &.error {
    .form__error-message {
      margin-top: 40px;
      height: var(--h);
    }
  }
}

.input-container {
  position: relative;
  width: 100%;
  margin-top: 32px;
}

.input {
  background-color: transparent;
  width: 100%;
  @include reg;
  border: 1px solid rgba(#393d5d, 0.1);
  padding: 18px 12px;
  border-radius: 5px;
  line-height: 1em;
  font-size: inherit;
  transition: border-color 0.3s ease;
  &:focus,
  &.js-focus {
    border-color: var(--accent);
    ~ .label {
      transform: translate(20px, -50%);
      opacity: 0;
    }
  }
  &.error {
    border-color: var(--red);
    ~ .input-validate {
      opacity: 1;
      visibility: visible;
    }
    ~ .label {
      color: var(--red);
    }
  }
}

.label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1em;
  pointer-events: none;
  color: rgba(#50536e, 0.8);
  line-height: 1.4em;
  max-width: 70%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.input-validate {
  color: var(--red);
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
}

.form__btn {
  margin-top: 40px;
  width: 100%;
  padding: 20px 40px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__length-counter {
  position: absolute;
  right: 0;
  font-size: 14px;
}

textarea {
  border: none;
  resize: none;
  border-radius: 0;
  line-height: normal;
  overflow-y: hidden;
  padding: 0px;
  margin: 0;
  min-height: 10rem;
  outline: none;
  padding-top: 10px;
  ~ .label {
    top: 42px;
  }
}

.form__error-message {
  background: whitesmoke;
  color: var(--red);
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
  height: 0px;
  transition: height 0.4s ease, margin-top 0.4s ease;
}

.form__error-message-text {
  margin: 10px 20px;
}

//Reset autofill styles
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form__policy {
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.form__h2 {
  text-align: center;
}
