{% set title = "Main" %}
{% set route = "home" %}

{% extends "layouts/_layout.html" %}
{% import "data/_data.html" as items %}

{% block content %}
  <header class="home-header">
    <div class="home-header__bg" style="background-image: url('./img/home/bg.jpg')"></div>
    <div class="container home-header__container a-center">
      <h1 data-i class="h1 home-header__h1">Юридические услуги: для бизнеса, госслужащих и&nbsp;частных лиц. Защищаем интересы и&nbsp;выигрываем суды </h1>
      <a data-i href="#" class="btn btn--white home-header__btn">Получить консультацию 
        <span class="arrow">{% include "partials/svg/_arrow.html" %}</span>
      </a>
    </div>
  </header>
  <main>
    <section class='section services-section'>
      <div class='container section__container a-center'>
        <h2 class="h2">Чем мы можем помочь?</h2>
        <span class="section__line"></span>
        <p class="section__text">Наша работа — разобраться в вашей ситуации с юридической точки зрения, чтобы предпринять законные действия для решения проблемы любой сложности.</p>
        <div class="cards services-section__cards">
          {% for i in range(0, 6) -%}
            <a href="#" class="card services-section__card">
              <div class="card__icon services-section__card-icon"><img src="./img/icons/services/1.svg" alt="icon"></div>
              <h3 class="h3 card__h services-section__card-h">Защита в уголовных процессах</h3>
              <p class="card__text services-section__card-text">Адвокаты АО «Г.М. Партнерс» помогают решить семейные и наследственные вопросы в судебном и досудебном порядке. Знание законодательства, психологии и стратегии...</p>
            </a>
          {% endfor %}
        </div>
        <button class="btn btn--black services-section__view-more">Больше услуг</button>
      </div>
    </section>
    <section class='section section--dark advantages'>
      <div class='container section__container a-center last'>
        <h2 class="h2">Наши преимущества</h2>
        <span class="section__line"></span>
        <div class="cards advantages__cards">
          <div class="card advantages__card">
            <div class="card__icon advantages__card-icon"><img src="./img/icons/advantages/1.svg" alt="icon"></div>
            <h3 class="h3 card__h advantages__card-h">Работаем в команде</h3>
            <p class="card__text advantages__card-text">Обращаясь к нам за помощью, клиенты знают, что над их делом будет работать команда юристов и адвокатов. Мы быстро подключаемся в масштабные проекты, чтобы разрешать сложные ситуации — это конкурентное преимущество перед частными специалистами.</p>
          </div>
          <div class="card advantages__card">
            <div class="card__icon advantages__card-icon"></div>
            <h3 class="h3 card__h advantages__card-h">Берем на себя ответственность</h3>
            <p class="card__text advantages__card-text">Не используем шаблонных решений. Каждый случай — уникален, поэтому мы создаем стратегию действий, корректируем тактику во время ведения дела и учитываем любые детали, чтобы выиграть ваше дело.</p>
          </div>
          <div class="card advantages__card">
            <div class="card__icon advantages__card-icon"></div>
            <h3 class="h3 card__h advantages__card-h">Отвечаем за юридическую помощь</h3>
            <p class="card__text advantages__card-text">Разрешение дел в пользу клиента — это основная задача нашего адвокатского объединения. Мы находим путь выхода из сложных ситуаций, реализуем его в реальной жизни и помогаем клиентам добиться нужного результата.</p>
          </div>
        </div>
      </div>
    </section>
    <section class='section polis-section'>
      <div class='container section__container polis-section__container last'>
        <div class="polis-section__container-left">
          <h2 class="h2">Адвокатский полис</h2>
          <span class="section__line"></span>
          <p class="section__text">Жизнь в современном обществе периодически требует неотложной квалифицированной юридической помощи адвоката. Адвокатские полисы АО «G.M. Partners» обеспечивают незамедлительное вмешательство наших адвокатов в неотложных жизненных ситуациях.</p>
          <a href="#" class="btn btn--black polis-section__btn">Подробнее</a>
        </div>
        <div class="polis-section__container-right">
          <div class="polis-card">
            <img class="polis-card__img polis-card__img--main" src="./img/polis-card.png" alt="card">
            <img class="polis-card__img polis-card__img--alternate" src="./img/polis-2.png" alt="card">
          </div>
        </div>
      </div>
    </section>
    <section class='section section--dark advantages'>
      <div class='container section__container a-center last'>
        <h2 class="h2">Наша команда</h2>
        <span class="section__line"></span>
        <p class="section__text">АО «G.M. Partners» - это профессиональная команда практикующих адвокатов и юристов, чей многолетний опыт позволяет предоставлять квалифицированную юридическую помощь как коммерческим и некоммерческим организациям, так и государственным ведомствам и частным лицам</p>
        <div class="team">
          <ul class="team__items">
            {% for i in range(0, 6) -%}
              <li class="team__item">
                <div class="team__item-photo"><img src="./img/portraits/1.png" alt="portrait"></div>
                <h4 class="h4 team__item-h">Григорий Шепитко</h4>
                <span class="team__item-pos">Управляющий партнер, адвокат</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>
    <section class='section clients'>
      <div class='container section__container a-center last'>
        <h2 class="h2">Наши клиенты</h2>
        <span class="section__line"></span>
        <p class="section__text">Нам доверяют, потому что знают, что мы сможем помочь даже в самых сложных вопросах</p>
        <div class="clients__items-wrapper">
          <ul class="clients__items">
            {% for i in range(0, 14) -%}
              <li class="clients__item">
                <img src="./img/clients/1.jpg" alt="client logo">
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="clients__scrollbar">
          <div class="clients__thumb"></div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer footer--dark">
    <div class="container footer__container">
      <form id="form" class="form" novalidate>
        <h2 class="h2 form__h2">Записаться на консультацию</h2>
        <div class="input-container form__input-container">
          <input 
          data-input 
          type="text" class="input form__input" 
          name="Name" 
          id="name"
          >
          <label class="label form__label" for="name">Ваше имя:</label>
        </div>
        <div class="input-container form__input-container">
          <input 
          data-input 
          data-validation="minlength(4) phone" 
          type="tel" 
          class="input form__input" 
          name="Phone" 
          id="tel"
          >
          <label class="label form__label" for="tel">Ваш телефон:</label>
          <div class="input-validate form__input-validate">Некорректный номер</div>
        </div>
        <div class="input-container form__input-container">
          <textarea 
          data-input 
          data-validation="maxlength(1000)" 
          type="text" 
          class="input form__input" 
          name="Message" 
          id="text"
          ></textarea>
          <label class="label form__label" for="adress">Опишите суть вопроса и мы свяжемся с Вами в ближайшее время для записи на консультацию:</label>
          <div data-length class="length-counter form__length-counter">1000</div>
          <div class="input-validate form__input-validate">Превышена максимальная длина</div>
        </div>
        <div data-error class="form__error-message">
          <div class="form__error-message-text">Произошла ошибка. Попробуйте ещё раз</div>
        </div>
        <button class="btn btn--black form__btn">
          <span class="form__btn-text">Получить консультацию</span>
          <span class="btn__overlay"></span>
          <span class="form__btn-loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle stroke="green" class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
            </svg>
          </span>
        </button>
        <small class="form__policy">Нажимая отправить вы соглашаетесь с условиями обработки персональных данных</small>
      </form>
      <div class="footer__bottom">
        <div class="footer__bottom-left">
          <a href="/" class="logo footer__logo"><img src="./img/logo.svg" alt="logo"></a>
          <div class="footer__bottom-id">Адвокатское объеденение "Г.М. Партнерс" Идентификационный код юридического лица 42308793</div>
          <a href='#' class="footer__bottom-privacy">«Политика конфиденциальности и адвокатская тайна»</a>
        </div>
        <div class="footer__bottom-right">
          <div class="footer__bottom-contacts">
            <div class="footer__bottom-contacts-icon">
              <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.6525 22.9484C21.5939 21.271 20.3637 20.0726 18.5607 20.8619L17.4814 21.3421C16.693 21.6892 14.7573 23.8521 11.8817 17.331C9.00512 10.8167 11.9099 10.8405 12.6978 10.4984L13.7821 10.0187C15.5784 9.22432 15.5249 7.50753 14.9991 5.59453L14.6829 4.43652C14.1512 2.52581 13.3591 1.13379 11.5596 1.92514L10.5858 2.35751C9.81745 2.62009 7.6054 3.56198 6.30707 6.25053C4.7477 9.47597 5.16163 13.8506 7.54242 19.2471C9.91798 24.6441 12.8719 27.9001 16.3082 28.9234C19.1639 29.774 21.3557 28.779 22.0653 28.3901L23.0421 27.9577C24.8376 27.1661 24.3463 25.642 23.2877 23.9616L22.6525 22.9484Z" fill="white"/>
              </svg>
            </div>
            <ul class="footer__bottom-contacts-items">
              <li class="footer__bottom-contacts-item">
                <a href="tel:+380730480000">+38 (073) 048 0000</a>
              </li>
              <li class="footer__bottom-contacts-item">
                <a href="mailto:inbox@g-m.partners">inbox@g-m.partners</a>
              </li>
            </ul>
          </div>
          <div class="footer__bottom-contacts">
            <div class="footer__bottom-contacts-icon">
              <svg width="19" height="27" viewBox="0 0 19 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2222 4.51097C15.6454 1.78787 12.8449 0.124229 9.73053 0.0606504C9.59758 0.0579082 9.46377 0.0579082 9.33078 0.0606504C6.2165 0.124229 3.41591 1.78787 1.83913 4.51097C0.22744 7.29439 0.183344 10.6378 1.72115 13.4547L8.16359 25.2556C8.16649 25.2608 8.16938 25.2661 8.17237 25.2713C8.45582 25.7643 8.9636 26.0586 9.53076 26.0586C10.0979 26.0586 10.6056 25.7642 10.889 25.2713C10.892 25.2661 10.8949 25.2608 10.8978 25.2556L17.3403 13.4547C18.878 10.6378 18.8339 7.29439 17.2222 4.51097ZM9.53065 11.8399C7.51612 11.8399 5.87718 10.1997 5.87718 8.18362C5.87718 6.16755 7.51612 4.52737 9.53065 4.52737C11.5452 4.52737 13.1841 6.16755 13.1841 8.18362C13.1841 10.1997 11.5452 11.8399 9.53065 11.8399Z" fill="white"/>
              </svg>
            </div>
            <ul class="footer__bottom-contacts-items">
              <li class="footer__bottom-contacts-item">
                <a href="tel:+380730480000">ул.Греческая 44, оф.101,<br>Одесса, Украина</a>
              </li>
            </ul>
          </div>
          <ul class="footer__bottom-social">
            <li class="footer__bottom-social-item">
              <a href="#">{% include "partials/svg/_instagram.html" %}</a>
            </li>
            <li class="footer__bottom-social-item">
              <a href="#">{% include "partials/svg/_facebook.html" %}</a>
            </li>
            <li class="footer__bottom-social-item">
              <a href="#">{% include "partials/svg/_telegram.html" %}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}