.home-header {
  color: white;
  height: 100vh;
  position: relative;
}

.home-header__bg {
  @include cover;
  @include coverdiv('absolute');
  z-index: 0;
}

.home-header__container {
  height: 100%;
}

.home-header__h1 {
  max-width: 998px;
  margin-top: size(120, 40);
}

.home-header__btn {
  margin-top: size(40, 20);
}

.services-section__cards {
  margin-top: size(52, 32);
}
.services-section__card {
  transition: background-color 0.4s ease;
  &:hover {
    background-color: #f4f4f4;
  }
}

.services-section__view-more {
  margin-top: size(44, 32);
}

.advantages__cards {
  color: var(--black);
  margin-top: size(24, 18);
}

.polis-section__btn {
  margin-top: size(28, 24);
}

.polis-section__container {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  @include media('<=#{$br1}') {
    grid-template-columns: 1fr;
  }
}

.polis-section__container-right {
  width: 100%;
}

.polis-card {
  width: 100%;
  height: size(400, 209);
  @include media('>#{$br2}') {
    perspective: 2000px;
    &:hover .polis-card__content {
      transform: rotateY(180deg);
    }
  }
}

.polis-card__content {
  position: relative;
  transition: transform 1s ease;
  transform-style: preserve-3d;
  width: size(640, 335);
  height: size(400, 209);
  @include media('>#{$br1}') {
    float: right;
  }
  @include media('<=#{$br4}') {
    width: 100%;
  }
}

.polis-card__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}

.polis-card__img--alternate {
  transform: rotateY(180deg);
}

.team {
  background-color: #fff;
  border-radius: 5px;
  color: var(--black);
  width: 100%;
  margin-top: size(44, 28);
}
.team__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  width: 100%;
  padding-top: size(52, 32);
  padding-bottom: size(52, 32);
  @include media('<=#{$br1}') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media('<=#{$br3}') {
    grid-template-columns: 1fr;
  }
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team__item-photo {
  width: size(172, 120);
  height: size(172, 120);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    max-width: 100%;
  }
}

.team__item-h {
  margin-top: 10px;
}
.team__item-pos {
  margin-top: 4px;
  display: inline-block;
  color: #646464;
}
