{% include "../partials/_head.html" %}
{% import "partials/_mixins.html" as mixins %}
<body class="loading">
  <noscript>
    <div class="js-enable">Please enable JavaScript to view this website.</div>
  </noscript>
  <!-- BEGIN content -->
  {% include "partials/_loader.html" %}
  {% include "partials/_navbar.html" %}
  <div class="site-wrapper" data-router-wrapper>
    <div data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      {% block content %}{% endblock %}
      <!-- END content -->
    </div>
  </div>
  <!-- BEGIN scripts -->
    <script src="./js/runtime-app.37467189.js"></script> 
    <script src="./js/vendors~app.a988cb20.chunk.js"></script> 
    <script src="./js/app.8c55d33a.chunk.js"></script>
    <!-- END scripts -->

</body>
</html>