$default: 16px;

.h1,
.h2,
.h3,
.h4 {
  @include serif;
  line-height: 1.3em;
}

.h1 {
  font-size: size(54, 32);
}

.h2 {
  font-size: size(50, 32);
}

.h3 {
  font-size: size(32, 24);
}

.h4 {
  font-size: size(24, 20);
}

.section__text {
  font-size: size(20, 18);
  max-width: size(613, 335);
  line-height: 1.4em;
  @include media('<=#{$br1}') {
    max-width: 90%;
  }
  @include media('<=#{$br3}') {
    max-width: 100%;
  }
}
